<h1>Card information</h1>
<div class="mb-4 bg-light p-3">
   <div class="row card-body justify-content-sm-around">
      <div class="col-4 card-question border shadow-lg rounded">
        <%= @card.question %>
      </div>
      <div class="col-6 card-answer border shadow-lg rounded">
        <%= md_format(@card.answer).html_safe %> 
      </div>
  	</div>
 </div>
<br />
<%= link_to "Back to all cards", cards_path %>
